<div class="container">
  <div class="jumbotron">
    <h1>Playing Big Brother</h1>
  </div>
{{outlet}}

    <hr>
    <footer>
    {{#link-to "bill-search-results"}}Search For Bills{{/link-to}}
    <br>
    {{#link-to "index"}}Search For Legislators{{/link-to}}
    </footer>
</div>
